<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/app.js"></script>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img src="/img/peter.jpeg"/>
            <p>
                I am Peter Walker -  Penetration Tester/Developer, I Developed this site to understand the live API flow/call.
                This site is designed to take priveleges of integrating multiple API services under one roof.
            </p>
        </div>
        {{>footer}}
    </body>
</html>
